.elementor-46529 .elementor-element.elementor-element-0e39ff8:not(.elementor-motion-effects-element-type-background),
.elementor-46529 .elementor-element.elementor-element-0e39ff8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-46529 .elementor-element.elementor-element-0e39ff8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 20px 0px 20px;
}

.elementor-46529 .elementor-element.elementor-element-0e39ff8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-46529 .elementor-element.elementor-element-27276a3:not(.elementor-motion-effects-element-type-background),
.elementor-46529 .elementor-element.elementor-element-27276a3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #00D6A5;
}

.elementor-46529 .elementor-element.elementor-element-27276a3,
.elementor-46529 .elementor-element.elementor-element-27276a3>.elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
}

.elementor-46529 .elementor-element.elementor-element-27276a3 {
    box-shadow: 0px 35px 60px 0px rgba(3.000000000000004, 8.000000000000066, 98.00000000000001, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: -66px;
    padding: 60px 50px 60px 50px;
    z-index: 11;
}

.elementor-46529 .elementor-element.elementor-element-27276a3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox .infobox-icon {
    align-self: center;
}

.elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox .infobox-icon i {
    font-size: 40px;
    color: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox .infobox-icon svg {
    height: 40px;
    width: 40px;
    fill: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox .infobox-icon .infobox-icon-wrap img {
    height: 40px;
    width: 40px;
}

.elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox .infobox-icon .infobox-icon-wrap {
    width: 80px;
    height: 80px;
    background: #C7FFF2;
}

.elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox.icon-beside-title .infobox-content .title figure i {
    color: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox:hover .infobox-icon i {
    color: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox:hover .infobox-icon svg {
    fill: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox.icon-beside-title:hover .infobox-content .title figure i {
    color: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox .infobox-content .title {
    color: #252525;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3em;
    margin: 10px 0px 5px 0px;
}

.elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox .infobox-content p {
    margin: 0px 0px 0px 0px;
    color: #5A5A5A;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4em;
}

.elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox:hover .infobox-content h4 {
    transition: 100ms;
}

.elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox:hover .infobox-content p {
    transition: 100ms;
}

.elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox .infobox-icon {
    align-self: center;
}

.elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox .infobox-icon i {
    font-size: 40px;
    color: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox .infobox-icon svg {
    height: 40px;
    width: 40px;
    fill: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox .infobox-icon .infobox-icon-wrap img {
    height: 40px;
    width: 40px;
}

.elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox .infobox-icon .infobox-icon-wrap {
    width: 80px;
    height: 80px;
    background: #C7FFF2;
}

.elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox.icon-beside-title .infobox-content .title figure i {
    color: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox:hover .infobox-icon i {
    color: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox:hover .infobox-icon svg {
    fill: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox.icon-beside-title:hover .infobox-content .title figure i {
    color: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox .infobox-content .title {
    color: #252525;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3em;
    margin: 10px 0px 5px 0px;
}

.elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox .infobox-content p {
    margin: 0px 0px 0px 0px;
    color: #5A5A5A;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4em;
}

.elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox:hover .infobox-content h4 {
    transition: 100ms;
}

.elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox:hover .infobox-content p {
    transition: 100ms;
}

.elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox .infobox-icon {
    align-self: center;
}

.elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox .infobox-icon i {
    font-size: 40px;
    color: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox .infobox-icon svg {
    height: 40px;
    width: 40px;
    fill: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox .infobox-icon .infobox-icon-wrap img {
    height: 40px;
    width: 40px;
}

.elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox .infobox-icon .infobox-icon-wrap {
    width: 80px;
    height: 80px;
    background: #C7FFF2;
}

.elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox.icon-beside-title .infobox-content .title figure i {
    color: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox:hover .infobox-icon i {
    color: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox:hover .infobox-icon svg {
    fill: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox.icon-beside-title:hover .infobox-content .title figure i {
    color: #4d4d4d;
}

.elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox .infobox-content .title {
    color: #252525;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3em;
    margin: 10px 0px 5px 0px;
}

.elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox .infobox-content p {
    margin: 0px 0px 0px 0px;
    color: #5A5A5A;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4em;
}

.elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox:hover .infobox-content h4 {
    transition: 100ms;
}

.elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox:hover .infobox-content p {
    transition: 100ms;
}

.elementor-46529 .elementor-element.elementor-element-45df2c9:not(.elementor-motion-effects-element-type-background),
.elementor-46529 .elementor-element.elementor-element-45df2c9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #18232F;
}

.elementor-46529 .elementor-element.elementor-element-45df2c9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 160px 20px 0px 20px;
}

.elementor-46529 .elementor-element.elementor-element-45df2c9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-46529 .elementor-element.elementor-element-3d3245a {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 30px 0px;
}

.elementor-46529 .elementor-element.elementor-element-0b6d913>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 40px 0px 0px;
}

.elementor-46529 .elementor-element.elementor-element-0f84907 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.4em;
}

.elementor-46529 .elementor-element.elementor-element-f9bcb5f {
    color: #9BA0A6;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em;
}

.elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper .ff-el-group textarea,
.elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper .ff-el-group select {
    background-color: #02010100;
    color: #18232F;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 50px 50px 50px 50px;
    padding: 0px 20px 0px 20px;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 16px;
}

.elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper .ff-el-group select {
    width: 211px;
    height: 40px;
}

.elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper .ff-el-group {
    margin-bottom: 0px;
}

.elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper .ff-el-group input::-webkit-input-placeholder,
.elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper .ff-el-group textarea::-webkit-input-placeholder {
    color: #18232F;
}

.elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper .ff-el-group .ff-btn-submit {
    width: 94px;
    background-color: #00D6A5 !important;
    color: #ffffff !important;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 100px 100px 100px 100px;
    padding: 8px 0px 8px 0px;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper.eael-contact-form-align-default .ff-el-group .ff-btn-submit {
    width: 94px;
    min-width: inherit;
}

.elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper.eael-fluent-form-subscription .ff-el-group .ff-btn-submit {
    right: -45px;
    position: relative;
    min-width: inherit;
}

.elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper .ff-el-group .ff-btn-submit:hover {
    background-color: #6A66FF !important;
}

.elementor-46529 .elementor-element.elementor-element-d7e5633 {
    width: 306px;
    max-width: 306px;
}

.elementor-46529 .elementor-element.elementor-element-d7e5633>.elementor-widget-container {
    background-color: #FFFFFF;
    border-radius: 50px 50px 50px 50px;
}

.elementor-46529 .elementor-element.elementor-element-2805af8>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 30px 0px 0px;
}

.elementor-46529 .elementor-element.elementor-element-7865188 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.4em;
}

.elementor-46529 .elementor-element.elementor-element-23fa32e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-46529 .elementor-element.elementor-element-23fa32e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-46529 .elementor-element.elementor-element-23fa32e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-46529 .elementor-element.elementor-element-23fa32e .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-46529 .elementor-element.elementor-element-23fa32e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-46529 .elementor-element.elementor-element-23fa32e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-46529 .elementor-element.elementor-element-23fa32e {
    --e-icon-list-icon-size: 14px;
}

.elementor-46529 .elementor-element.elementor-element-23fa32e .elementor-icon-list-text {
    color: #9BA0A6;
}

.elementor-46529 .elementor-element.elementor-element-23fa32e .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-46529 .elementor-element.elementor-element-23fa32e .elementor-icon-list-item>a {
    font-family: "Nunito Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

.elementor-46529 .elementor-element.elementor-element-3267a4d {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 22px;
    --grid-column-gap: 20px;
    --grid-row-gap: 0px;
}

.elementor-46529 .elementor-element.elementor-element-3267a4d .elementor-widget-container {
    text-align: left;
}

.elementor-46529 .elementor-element.elementor-element-3267a4d .elementor-social-icon {
    background-color: #FFFFFF00;
    --icon-padding: 0em;
}

.elementor-46529 .elementor-element.elementor-element-3267a4d .elementor-social-icon i {
    color: #9BA0A6;
}

.elementor-46529 .elementor-element.elementor-element-3267a4d .elementor-social-icon svg {
    fill: #9BA0A6;
}

.elementor-46529 .elementor-element.elementor-element-3267a4d .elementor-social-icon:hover i {
    color: #00D6A5;
}

.elementor-46529 .elementor-element.elementor-element-3267a4d .elementor-social-icon:hover svg {
    fill: #00D6A5;
}

.elementor-46529 .elementor-element.elementor-element-afeda86 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.4em;
}

.elementor-46529 .elementor-element.elementor-element-6d8db0d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-46529 .elementor-element.elementor-element-6d8db0d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-46529 .elementor-element.elementor-element-6d8db0d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-46529 .elementor-element.elementor-element-6d8db0d .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-46529 .elementor-element.elementor-element-6d8db0d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-46529 .elementor-element.elementor-element-6d8db0d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-46529 .elementor-element.elementor-element-6d8db0d {
    --e-icon-list-icon-size: 14px;
}

.elementor-46529 .elementor-element.elementor-element-6d8db0d .elementor-icon-list-text {
    color: #9BA0A6;
}

.elementor-46529 .elementor-element.elementor-element-6d8db0d .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #00D6A5;
}

.elementor-46529 .elementor-element.elementor-element-6d8db0d .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-46529 .elementor-element.elementor-element-6d8db0d .elementor-icon-list-item>a {
    font-family: "Nunito Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

.elementor-46529 .elementor-element.elementor-element-7e0bbfc .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.4em;
}

.elementor-46529 .elementor-element.elementor-element-45e78f9 .eael-instafeed-item-inner {
    margin: 0px 20px 20px 0px;
}

.elementor-46529 .elementor-element.elementor-element-45e78f9 .eael-instafeed-caption {
    background-color: #00D6A59C;
}

.elementor-46529 .elementor-element.elementor-element-45e78f9 .eael-instafeed-caption i {
    color: #ffffff;
}

.elementor-46529 .elementor-element.elementor-element-45e78f9 .eael-instafeed-caption,
.elementor-46529 .elementor-element.elementor-element-45e78f9 .eael-instafeed-caption-text {
    color: #ffffff;
}

.elementor-46529 .elementor-element.elementor-element-45e78f9 .eael-load-more-button {
    color: #fff;
    background: #29d8d8;
}

.elementor-46529 .elementor-element.elementor-element-45e78f9 .eael-load-more-button:hover {
    color: #fff;
    background: #27bdbd;
}

.elementor-46529 .elementor-element.elementor-element-ba14070 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #223141;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 20px 0px;
}

.elementor-46529 .elementor-element.elementor-element-ba14070>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-46529 .elementor-element.elementor-element-bc0fc51 {
    text-align: center;
    color: #666A71;
    font-family: "Nunito Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7em;
}

@media(max-width:1024px) {
    .elementor-46529 .elementor-element.elementor-element-27276a3 {
        margin-top: 0px;
        margin-bottom: -58px;
        padding: 30px 30px 30px 30px;
    }

    .elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox .infobox-icon i {
        font-size: 30px;
    }

    .elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox .infobox-icon svg {
        height: 30px;
        width: 30px;
    }

    .elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox .infobox-icon .infobox-icon-wrap img {
        height: 30px;
        width: 30px;
    }

    .elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox .infobox-icon .infobox-icon-wrap {
        width: 60px;
        height: 60px;
    }

    .elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox .infobox-content .title {
        font-size: 18px;
    }

    .elementor-46529 .elementor-element.elementor-element-5c20d6e .eael-infobox .infobox-content p {
        font-size: 12px;
    }

    .elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox .infobox-icon i {
        font-size: 30px;
    }

    .elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox .infobox-icon svg {
        height: 30px;
        width: 30px;
    }

    .elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox .infobox-icon .infobox-icon-wrap img {
        height: 30px;
        width: 30px;
    }

    .elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox .infobox-icon .infobox-icon-wrap {
        width: 60px;
        height: 60px;
    }

    .elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox .infobox-content .title {
        font-size: 18px;
    }

    .elementor-46529 .elementor-element.elementor-element-b305448 .eael-infobox .infobox-content p {
        font-size: 12px;
    }

    .elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox .infobox-icon i {
        font-size: 30px;
    }

    .elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox .infobox-icon svg {
        height: 30px;
        width: 30px;
    }

    .elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox .infobox-icon .infobox-icon-wrap img {
        height: 30px;
        width: 30px;
    }

    .elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox .infobox-icon .infobox-icon-wrap {
        width: 60px;
        height: 60px;
    }

    .elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox .infobox-content .title {
        font-size: 18px;
    }

    .elementor-46529 .elementor-element.elementor-element-b8aef59 .eael-infobox .infobox-content p {
        font-size: 12px;
    }

    .elementor-46529 .elementor-element.elementor-element-45df2c9 {
        padding: 120px 20px 0px 20px;
    }

    .elementor-46529 .elementor-element.elementor-element-0b6d913>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 40px 50px 0px;
    }

    .elementor-46529 .elementor-element.elementor-element-2805af8>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 50px 0px;
    }
}

@media(max-width:767px) {
    .elementor-46529 .elementor-element.elementor-element-0f32083>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 20px 0px;
    }

    .elementor-46529 .elementor-element.elementor-element-aecb7ff>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 20px 0px;
    }

    .elementor-46529 .elementor-element.elementor-element-0b6d913>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 50px 0px;
    }

    .elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    .elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper .ff-el-group textarea,
    .elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper .ff-el-group select {
        border-width: 1px 1px 1px 1px;
    }

    .elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    .elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper .ff-el-group select {
        width: 100%;
    }

    .elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper .ff-el-group .ff-btn-submit {
        width: 100%;
        margin-top: 10px;
    }

    .elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper.eael-contact-form-align-default .ff-el-group .ff-btn-submit {
        width: 100%;
        min-width: inherit;
    }

    .elementor-46529 .elementor-element.elementor-element-d7e5633 .eael-contact-form.eael-fluent-form-wrapper.eael-fluent-form-subscription .ff-el-group .ff-btn-submit {
        right: 0px;
        position: relative;
        min-width: inherit;
    }

    .elementor-46529 .elementor-element.elementor-element-d7e5633>.elementor-widget-container {
        padding: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
    }

    .elementor-46529 .elementor-element.elementor-element-d7e5633 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-46529 .elementor-element.elementor-element-2805af8>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 50px 0px;
    }

    .elementor-46529 .elementor-element.elementor-element-acc8597>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 50px 0px;
    }
}

@media(min-width:768px) {
    .elementor-46529 .elementor-element.elementor-element-0b6d913 {
        width: 30.351%;
    }

    .elementor-46529 .elementor-element.elementor-element-2805af8 {
        width: 24.737%;
    }

    .elementor-46529 .elementor-element.elementor-element-acc8597 {
        width: 19.76%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-46529 .elementor-element.elementor-element-0b6d913 {
        width: 50%;
    }

    .elementor-46529 .elementor-element.elementor-element-2805af8 {
        width: 50%;
    }

    .elementor-46529 .elementor-element.elementor-element-acc8597 {
        width: 50%;
    }

    .elementor-46529 .elementor-element.elementor-element-f136706 {
        width: 50%;
    }
}

/* Start custom CSS for eael-fluentform, class: .elementor-element-d7e5633 */
.eael-fluent-form-subscription input {
    max-width: unset !important;
}

/* End custom CSS */